.amidetor {
  &__formatable {
    position: relative;
  }

  &__formatable-menu {
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    position: absolute;
    display: flex;
    transform: translateX(-50%);
  }

  &__formatable-off-menu {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
  }
}
