.amidetor {
  &__formatable {
    position: relative;
  }

  &__formatable-menu {
    width: 150px;
    height: 50px;
    background-color: rosybrown;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }

  &__formatable-off-menu {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
  }
}
