.amidetor {
  &__paragraph {
    padding: 20px 10px;
  }

  &__paragraph-wrapper {
    flex-grow: 1;
  }

  &__paragraph-settings {
    margin-bottom: 10px;
    border: 1px solid rgb(240, 240, 240);
    display: flex;
  }
}
